{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=55432;Database=sheshi;Username=sheshi;Password=sheshi"
  },
  "Frontend": {
    "BaseUrl": "http://localhost:3001"
  },
  "SeedAdmin": {
    "Email": "",
    "Password": "",
    "DisplayName": "Sheshi Admin"
  },
  "Authentication": {
    "Google": {
      "ClientId": "",
      "ClientSecret": ""
    }
  }
}
